
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300);

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  //speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-double-right:before {
  content: "\e600";
}


.icon-menu:before {
  content: "\e601";
}

.icon-chevron-thin-left:before {
  content: "\e602";
}

.icon-chevron-thin-right:before {
  content: "\e603";
}

.icon-social-facebook:before {
  content: "\e604";
}
//$mq-breakpoints: (
//    // Base device classes
//    mobile:      320px,
//    tablet:      640px,
//    desktop:    1024px,
//    widescreen: 1200px,
//    tvscreen:   1920px,
//
//    // Tweakpoints
//    mobileLandscape: 480px
//);

// Show active breakpoint in top right corner of viewport
// $mq-show-breakpoints: (mobile, mobileLandscape, tablet, desktop, widescreen, tvscreen);

@import "base/markup-variables";
//@import "base/markup-mixins";
@import "base/base-reset";
@import "mq";
@import "base/header";

html{

  font-family:$base-font-content;
  font-size: 13px;
  position: relative;
}




iframe{

  max-width:100% !important;

}
#login{
  width:100% !important;
  background-image: url("images/dotback.png");
  margin-top: 0 !important;
  padding:0 20px !important;

  #form{
    margin:auto;
    max-width:1130px;
    background:$white;
    padding:20px;
  }

  .button-fancy{

  }

  .selections > form {
    display: flex;
    flex-wrap: wrap;

    .large{
      flex-grow:1;

      &.thewidth1, &.thewidth4, &.thewidth5, &.thewidth7{
          //width:69%
      }
      &.thewidth2, &.thewidth3, &.thewidth6{
          //width:29%

      }
      &.gear{

      }
      &.button-fancy{
        @include breakpoint($tablet){
          width:47%;
        }
        @include breakpoint($mobile){
          width:100%;
        }
        width:32%;
        border: none;
        //color: #fff;
        background:rgba(237, 28, 36, 0.68) none repeat scroll 0 0;
        cursor: pointer;
        //display: inline-block;
        font-size: 11px;
        //font-weight: bold;
        height: 250px;
        overflow: visible;
        //padding: 50px;
        margin: 5px;
        text-decoration: none;
        vertical-align: top;
        white-space: nowrap;
        -moz-appearance: none;
        -moz-border-radius: 4px;
        -webkit-appearance: none;
        -webkit-border-radius: 4px;
        line-height: 25px;
        position: relative;
        &.pencil{
          &:before{
            content:"\f040";
            font-family:FontAwesome;
            height:50px;
            width:50px;
            font-size:63px;
            color:white;
            opacity: 1;
          }
        }
        &.eye{
        &:before{
          content:"\f06e";
          font-family:FontAwesome;
          height:50px;
          width:50px;
          font-size:63px;
          color:white;
          opacity: 1;
        }
        }
        &.redo{
          &:before{
            content:"\f01e";
            font-family:FontAwesome;
            height:50px;
            width:50px;
            font-size:63px;
            color:white;
            opacity: 1;
          }
        }
        &.mag-glass{
          &:before{
            content:"\f002";
            font-family:FontAwesome;
            height:50px;
            width:50px;
            font-size:63px;
            color:white;
            opacity: 1;
          }
        }
        &.cog{
          &:before{
            content:"\f013";
            font-family:FontAwesome;
            height:50px;
            width:50px;
            font-size:63px;
            color:white;
            opacity: 1;
          }
        }
        &.calendar{
          &:before{
            content:"\f073";
            font-family:FontAwesome;
            height:50px;
            width:50px;
            font-size:63px;
            color:white;
            opacity: 1;
          }
        }
        &.ban{
          &:before{
            content:"\f05e";
            font-family:FontAwesome;
            height:50px;
            width:50px;
            font-size:63px;
            color:white;
            opacity: 1;
          }
        }

        span{
          font-size:24px;
          position:absolute;
          color:white;
          bottom:18px;
          left:50%;
          transform:translateX(-50%);
          -webkit-transform:translateX(-50%);

        }
      }
    }
  }

}

/*****OLD BUTTONS*****/

.button-item{
  line-height: 32px;
  margin: 8px 0px 12px;
}

.button-item .button{
  margin-right: 4px;
  width: 70px;
  padding: 0 8px;
  text-align: center;
}
.button.selection {
  background-color: #FFFFFF;
  color: #003399;
}

.button.selection:hover {
  background-color: #99CCFF;
  color: #003399;
}

.button {
  background-color: $white;
  color: $red;
  border:1px solid $red;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  //font-weight: bold;
  height: 40px;
  overflow: visible;
  padding: 0 30px;
  margin: 20px 10px 20px 0;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: auto;
  -moz-appearance: none;
  -moz-border-radius: 4px;
  -webkit-appearance: none;
  -webkit-border-radius: 4px;
  line-height: 25px;
  &:hover{
    background:$red;
    color:$white;
  }
}


/** Banner **/
.banner{
  position:relative;
  .banner-holder{
    height: 250px;
    overflow: hidden;
    width: 100%;
    .image{
      left: 50%;
      position: relative;
      top: 0;
      transform: translateX(-50%);
      -webkit-transform:translateX(-50%);

      img{
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        -webkit-transform:translateX(-50%);
        max-width:unset;
        max-width:initial;
      }
    }
  }
}
/***** BANNER END ******/
.field label{
  display: block;
  font-size: 18px;
  //padding-bottom:30px;
}

/***** Form Styling ******/

  .fancy-form{
    color:#666;
    padding-bottom:22px;
    label{
      padding-bottom:5px;
    }
    select{
      padding: 5px 20px;
      option{
        padding:5px;
      }
    }
}
.statusMessage {
  margin: 20px 0;
}
.info{
  margin-bottom:20px;
}